// стили для навигационного меню для зарегистрированных клиентов

.gf-navigation {
    margin-bottom: 60px;
    height: 60px;
    background-color: #009688;
}

.text__h3 {
    margin-top: 15px;
}

.footer {
    background-color: #009688;
    color: rgba(255,255,255,.84);
}
