            <!--  -->
            <div class="row">

                <!-- аватарка только на большом экране -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm hidden-md gf-workout-navigation__pos-rel">

                    <div class="gf-left-navigation__border gf-workout-navigation__image-lg-screens">
                        <div class="gf-left-navigation__image">
                            <img class="img-responsive" src="../img/nggirlsfit-about-article-002.jpg" alt="ProfileBackground"/>
                        </div>

                        <div class="gf-left-navigation">
                            <div class="gf-left-navigation__username">
                                {{ currentUser.name }}
                            </div>
                            <div class="gf-left-navigation__achivments center-block text-center">
                                <div class="gf-left-navigation__achivments_center">
                                    <ul class="list-unstyled gf-left-navigation__list">
                                        <li>
                                            <i class="mdi-action-favorite mdi-material-pink gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Мастер бега II степени"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-social-school mdi-material-lime gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Магистр фитнеса. Получено 2 награды"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-social-mood mdi-material-teal gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Радостные дни. Вы занимаетесь с нами уже 125 дней"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-social-whatshot mdi-material-red gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Сжигатель жира. Вы похудели на 5.9 кг"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-maps-flight mdi-material-amber-700 gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Самолет не нужен. пробегите 1000 км. Получено 7 наград"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- userpic -->
                            <div class="gf-left-navigation__userpic">
                                <img ng-src="{{ currentUser.avatar }}" src="" alt="Userpic"/>
                            </div>
                            <!-- userpic -->

                        </div>
                    </div>

                    <div class="gf-left-navigation__buttons gf-workout-navigation__btnexit-lg-screens">
                        <div class="btn-group-vertical center-block">
                            <a ng-click="vm.logout()" href="#/" class="btn btn-flat btn-default">Выход</a>
                        </div>
                    </div>

                </div>
                <!-- аватарка только на большом экране -->

                <!-- аватарка планшеты и телефоны -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-lg">

                    <div class="gf-left-navigation__border">
                        <div class="gf-left-navigation__image">
                            <img class="img-responsive" src="../img/nggirlsfit-about-article-002.jpg" alt="ProfileBackground"/>
                        </div>

                        <div class="gf-left-navigation">
                            <div class="gf-left-navigation__username">
                                User Name
                            </div>
                            <div class="gf-left-navigation__achivments center-block text-center">
                                <div class="gf-left-navigation__achivments_center">
                                    <ul class="list-unstyled gf-left-navigation__list">
                                        <li>
                                            <i class="mdi-action-favorite mdi-material-pink gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Мастер бега II степени"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-social-school mdi-material-lime gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Магистр фитнеса. Получено 2 награды"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-social-mood mdi-material-teal gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Радостные дни. Вы занимаетесь с нами уже 125 дней"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-social-whatshot mdi-material-red gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Сжигатель жира. Вы похудели на 5.9 кг"></i>
                                        </li>
                                        <li>
                                            <i class="mdi-maps-flight mdi-material-amber-700 gf-left-navigation__achivments_icons" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Самолет не нужен. пробегите 1000 км. Получено 7 наград"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gf-left-navigation__userpic">
                                <img src="../img/nggirlsfit-userpic-002.jpg" alt="Userpic"/>
                            </div>
                        </div>
                    </div>

                    <div class="gf-left-navigation__buttons">
                        <div class="btn-group-vertical center-block">
                            <a ng-click="vm.logout()" href="#/" class="btn btn-flat btn-default">Выход</a>
                        </div>
                    </div>

                </div>
                <!-- аватарка планшеты и телефоны -->

                <!-- Контент правая часть -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-ld-8 center-block">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel gf-panel-material-orange-50">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-left gf-exercise-string__exercise-text">
                                            <h3>
                                                Выполняется упражнение: Бег на месте. Время: 00:12:39
                                            </h3>
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Название</th>
                                                        <th>Количество</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Число упражнений</td>
                                                        <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Количество повторов</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Время выполнения</td>
                                                        <td>15 минут</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center gf-exercise-string__exercise-btns">
                                            <p>
                                                <button class="btn btn-success"><i class="mdi-av-play-arrow gf-workout__btnicon"></i>Запустить</button>
                                                <button class="btn btn-warning"><i class="mdi-av-pause gf-workout__btnicon"></i>Остановить</button>
                                                <button class="btn btn-danger"><i class="mdi-navigation-cancel gf-workout__btnicon"></i>Пропустить</button>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel gf-panel-material-grey-500">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-left gf-exercise-string__exercise-text">
                                            <h3>
                                                Следующее упражнение: Ходьба. Время: 00:20:00
                                            </h3>
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Название</th>
                                                        <th>Количество</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Число упражнений</td>
                                                        <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Количество повторов</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Время выполнения</td>
                                                        <td>15 минут</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center gf-exercise-string__exercise-btns">
                                            <p>
                                                <button class="btn btn-success"><i class="mdi-av-play-arrow gf-workout__btnicon"></i>Запустить</button>
                                                <button class="btn btn-warning"><i class="mdi-av-pause gf-workout__btnicon"></i>Остановить</button>
                                                <button class="btn btn-danger"><i class="mdi-navigation-cancel gf-workout__btnicon"></i>Пропустить</button>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel gf-panel-material-grey-500">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-left gf-exercise-string__exercise-text">
                                            <h3>
                                                Следующее упражнение: Ходьба. Время: 00:20:00
                                            </h3>
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Название</th>
                                                        <th>Количество</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Число упражнений</td>
                                                        <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Количество повторов</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Время выполнения</td>
                                                        <td>15 минут</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center gf-exercise-string__exercise-btns">
                                            <p>
                                                <button class="btn btn-success"><i class="mdi-av-play-arrow gf-workout__btnicon"></i>Запустить</button>
                                                <button class="btn btn-warning"><i class="mdi-av-pause gf-workout__btnicon"></i>Остановить</button>
                                                <button class="btn btn-danger"><i class="mdi-navigation-cancel gf-workout__btnicon"></i>Пропустить</button>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel gf-panel-material-grey-500">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-left gf-exercise-string__exercise-text">
                                            <h3>
                                                Следующее упражнение: Ходьба. Время: 00:20:00
                                            </h3>
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Название</th>
                                                        <th>Количество</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Число упражнений</td>
                                                        <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Количество повторов</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Время выполнения</td>
                                                        <td>15 минут</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center gf-exercise-string__exercise-btns">
                                            <p>
                                                <button class="btn btn-success"><i class="mdi-av-play-arrow gf-workout__btnicon"></i>Запустить</button>
                                                <button class="btn btn-warning"><i class="mdi-av-pause gf-workout__btnicon"></i>Остановить</button>
                                                <button class="btn btn-danger"><i class="mdi-navigation-cancel gf-workout__btnicon"></i>Пропустить</button>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel gf-panel-material-grey-500">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-left gf-exercise-string__exercise-text">
                                            <h3>
                                                Следующее упражнение: Ходьба. Время: 00:20:00
                                            </h3>
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Название</th>
                                                        <th>Количество</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Число упражнений</td>
                                                        <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Количество повторов</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Время выполнения</td>
                                                        <td>15 минут</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center gf-exercise-string__exercise-btns">
                                            <p>
                                                <button class="btn btn-success"><i class="mdi-av-play-arrow gf-workout__btnicon"></i>Запустить</button>
                                                <button class="btn btn-warning"><i class="mdi-av-pause gf-workout__btnicon"></i>Остановить</button>
                                                <button class="btn btn-danger"><i class="mdi-navigation-cancel gf-workout__btnicon"></i>Пропустить</button>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Контент правая часть -->

            </div>
            <!--  -->

