    <!-- добавить упражнение -->
    <div class="col-lg-12">
        <a href="#" data-toggle="modal" class="gf-exercise-string__add-link" ng-click="vm.openModalForAddExercise($event)">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="gf-exercise-string__image center-block">
                            <img class="img-responsive" width="40" src="../img/nggirlsfit-exercises-plus.png" alt="Упражнение прыжки"/>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="text-center gf-exercise-string__text">
                            <h3>
                                Добавить упражнение
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- добавить упражнение -->

    <form class="form-horizontal">

        <div class="col-lg-12" ng-repeat="exercise in vm.userExercises | filter : exerciseFilter : false">
            <div class="panel gf-panel-material-orange-50">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-left gf-exercise-string__exercise-text gf-exercise-caption__word-wrap">
                            <h3>
                                {{ exercise.name }}
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center gf-exercise-string__exercise-btns">
                            <p>

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="exercise.isWorkout"
                                               ng-change="vm.exerciseBlockChange(exercise)"
                                                > <span ng-if="exercise.isWorkout">Добавлено в тренировку</span>
                                                  <span ng-if="!exercise.isWorkout">Убрано из тренировки</span>
                                    </label>
                                </div>

                                <button class="btn btn-success" ng-click="vm.editUserExercise(exercise)">Редактировать</button>
                                <button class="btn btn-danger" ng-click="vm.exerciseDelete(exercise)">Удалить</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

