        <!-- навигация -->
        <!-- Отображение навигации на больших экранах -->
        <section class="gf-navigation hidden-xs hidden-sm hidden-md">
            <div class="container">
                <div class="col-lg-4">
                </div>

                <div class="col-lg-8">
                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-responsive-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" ui-sref="main" href="">GF</a>
                        </div>
                        <div class="navbar-collapse collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li ui-sref-active="active"><a ui-sref="workout" href="">Тренировка</a></li>
                                <li ui-sref-active="active"><a ui-sref="exercises" href="">Упражнения</a></li>
                                <li ui-sref-active="active"><a ui-sref="statistics" href="">Статистика</a></li>
                                <li ui-sref-active="active"><a ui-sref="profile" href="">Профиль</a></li>
                            </ul>

                            <!-- форма поиска -->
                            <form class="navbar-form navbar-left navbar-right">
                                <input type="text" class="form-control col-lg-8" placeholder="Поиск">
                            </form>
                            <!-- форма поиска -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Отображение навигации на больших экранах -->

        <!-- Отображение навигации на телефонах и планшетах -->
        <section class="hidden-lg">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="main" href="">GF</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="workout" href="">Тренировка</a></li>
                        <li ui-sref-active="active"><a ui-sref="exercises" href="">Упражнения</a></li>
                        <li ui-sref-active="active"><a ui-sref="statistics" href="">Статистика</a></li>
                        <li ui-sref-active="active"><a ui-sref="profile" href="">Профиль</a></li>
                    </ul>

                    <!-- форма поиска -->
                    <form class="navbar-form navbar-left navbar-right">
                        <input type="text" class="form-control col-lg-8" placeholder="Поиск">
                    </form>
                    <!-- форма поиска -->

                </div>
            </div>
        </section>
        <!-- Отображение навигации на телефонах и планшетах -->
        <!-- навигация -->


